{% assign all_news_posts = site.posts | where: "article_type", "NewsArticle" %}
{% if include.lang contains "ko" %}
  {% assign news_posts = all_news_posts | where: "lang", "ko-KR" %}
{% else %}
  {% assign news_posts = all_news_posts | where: "lang", "en" %}
{% endif %}
{% if news_posts.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">{% if include.lang contains "ko" %}최신 AI 뉴스{% else %}Latest AI News{% endif %}</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for post in news_posts limit:5 %}
        <li class="text-truncate lh-lg">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
